<!DOCTYPE html>
<!-- 
  Red Wings -- Cameron Nelson, Sophie Liu, Daniel Sooknanan
  SoftDev
  K14 - Form and Function
  2021-10-14 
 -->


<html>

  <head>
    <title> LOGIN PAGE </title>
  </head>

  <body>
	<div>
		<h1>
		  Welcome, Travelers of the Intertoobz!
		</h1>

		<h3>
		  Enter your username below to proceed.
		</h3>
		<form action="/auth" method="POST">
		  <input type="text" name="username">
		  <input type="submit" name="sub1">
		</form>
		<br>
	</div>
	
	<footer style="position:fixed;left:0;bottom:0;width:100%;text-align:left;padding:2%;background-color:#e0e0e0;">
      Red Wings &#8212; Cameron Nelson, Sophie Liu, Daniel Sooknanan
    </footer>
	
  </body>

</html>
